<ion-view view-title="Splashito Gonito" hide-back-button="false">
  <ion-content>
  <div class="block__content">
    <div class="max-width">
      <div class="launch agroinsumos">
            <div class="launch__logo">
              <img src="img/logo_insumos.png" height="67" width="165">
            </div>
            <div class="launch__content">
              La herramienta de MinAgricultura que pone a su alcance toda la información relacionada con precios de insumos agropecuarios
            </div>
            <a href="#/login">
            <button class="btn btn-primary btn-green">Ingresar</button>
            </a>
            <div class="launch__caption">
              <span class="small">Los precios a continuación mostrados estan regidos bajo la Ley 321 de la republica de Colombia. <a href="#">Conocer más</a></span>
            </div>
            <div class="launch__footer">
                <span class="small"> Aplicacion Desarrollada por </span>
                <span class="mincultura">
                  <img src="img/logo_min.png" height="27" width="118" align="middle">
                </span>
            </div>
        </div>
    </div>
  </div>
  </ion-content>
</ion-view>


