
h3{
	position: absolute;
	margin-bottom: 2rem;
	position: center;
	text-align: center;
}
p{
	position: relative;
	text-align: justify;
	font-size: 17px;
	text-align: center;
}
.p_bar{
	margin-top: 80px;
}

.center{
	margin: 0 auto;
	position: absolute;
	left: 35%;
}

.title_loginn{
	font-size: 18px;
	font-family: "Ubuntu", sans-serif;
}
.form_login{
	margin-top: 35px;
	position: relative;
	margin-left: 23px;
	margin-right: 23px;
}

.input_login{
	border-color: #e8b037;
}

.branding{
	position: absolute;
	z-index: 100;
}
.profile__text,
.profile__img,
.profile__arrow {
  line-height: 46px; }

.profile {
    float: right;
    height: 100%;
    position: relative;
}
.profile__text,
.profile__img {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  line-height: 60px; }
.profile__text {
	height: 100%;
    display: inline-block;
    vertical-align: middle;
    line-height: 60px;
	color: white;
    font-family: "Ubuntu", sans-serif;
    margin-right: 0.8rem; }
.profile__img {
  position: relative;
  height: 28px;
  width: 28px;
  background: white;
  border-radius: 50%;
  text-align: center;
  margin-right: 32px;
  overflow: hidden;
  border: 1px solid #59595c; }
.profile__img .icon-profile {
    position: absolute;
    color: #59595c;
    top: 50%;
    left: 50%;
    font-size: 24px;
    -webkit-transform: translate(-50%, -34%);
    transform: translate(-50%, -34%); }
.profile__arrow {
  position: absolute;
  top: 0;
  right: 10px;
  line-height: 60px;
  font-size: 10px; }

.bar .profile__img{
  position: relative;
}  
.name{
  color: #ff8400;
  font-family: "Ubuntu", sans-serif;
}
.progreso_perfil{
  color: #000;
  position: absolute;
  margin-top: 30px;
}